<div class="actor">
	<div id="container">
		<div id="sidebar">
			<h1 style="color: red;">It Takes Life <br />
  				Esper Grad
				Showcase <br />
				2014
			</h1>
			<div id="sidebarnav">
				<ul>
					<!--<li><a href="https://yaledrama.digication.com/molly_bernard/Home" target="_blank"><strong>Click here to view production photos and other media at this actor's professional portfolio page</strong></a></li>-->
					<li><a ng-href="/">Return to Main Page</a></li>
					<li></li>
				</ul>
			</div>
		</div>

		<div id="content">  
			<table>
				<tr>
					<td rowspan="7"><img ng-src="{{ actor.image.url }}" alt="{{ actor.name }}" width="{{ actor.image.width }}" height="{{ actor.image.height }}" border="0" /></td>
					<td rowspan="3">
						<ul style="list-style: none;">
							<li class="name">{{ actor.name }}</li>
							<li class="union"><strong>Union: </strong>{{ actor.unionAffiliation }}</li>
							<li class="union" ng-show="actor.website"><strong>Website: </strong><a ng-href="{{ actor.website }}" target="_blank">{{ actor.name }}</a></li>
							<li class="union"><strong>Phone: </strong>{{ actor.phone }}</li>
							<li class="union"><strong>Email: </strong>{{ actor.email }}</li>
							<li class="union"><strong>Hair: </strong>{{ actor.hairColor }}</li>
							<li class="union"><strong>Eyes: </strong>{{ actor.eyeColor }}</li>
						</ul>
					</td>
				 </tr>
			</table>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			  	<tr>
					<td colspan="4"><h2>Production   Experience</h2></td>
			  	</tr>
			  
			  	<!-- THEATER-->
			  	<tr>
					<td width="279"><p>Title</p></td>
					<td width="205"><p>Role</p></td>
					<td width="222"><p>Place</p></td>
					<td width="174"><p>Director</p></td>
			  	</tr>
			  	<tr>
					<td><h3><br />
				  		Theater</h3></td>
					<td><p>&nbsp;</p></td>
					<td><p>&nbsp;</p></td>
					<td width="174"><p>&nbsp;</p></td>
			  	</tr>
			  	<tr ng-repeat="experience in actor.theaterExperiences">
			  		<td><p><em>{{ experience.title }}</em></p></td>
			  		<td><p>{{ experience.role }}</p></td>
			  		<td><p>{{ experience.place }}</p></td>
			  		<td><p>{{ experience.director }}</p></td>
			  	</tr>

				<!-- FILM -->
			  	<tr>
					<td><h3><em><br />
				  		Film</em></h3></td>
					<td><p>&nbsp;</p></td>
					<td><p>&nbsp;</p></td>
					<td width="174"><p>&nbsp;</p></td>
			  	</tr>
			  	<tr ng-repeat="experience in actor.filmExperiences">
			  		<td><p><em>{{ experience.title }}</em></p></td>
			  		<td><p>{{ experience.role }}</p></td>
			  		<td><p>{{ experience.place }}</p></td>
			  		<td><p>{{ experience.director }}</p></td>
			  	</tr>

				<!-- TELEVISION -->
			  	<tr>
					<td><h3><em><br />
				  		Television</em></h3></td>
					<td><p>&nbsp;</p></td>
					<td><p>&nbsp;</p></td>
					<td width="174"><p>&nbsp;</p></td>
			  	</tr>
			  	<tr ng-repeat="experience in actor.televisionExperiences">
			  		<td><p><em>{{ experience.title }}</em></p></td>
			  		<td><p>{{ experience.role }}</p></td>
			  		<td><p>{{ experience.place }}</p></td>
			  		<td><p>{{ experience.director }}</p></td>
			  	</tr>

			</table>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			  	<tr>
					<td colspan="4"><h2>Education</h2></td>
			  	</tr>
			  	<tr>
					<td><p>School</p></td>
					<td><p>Degree</p></td>
					<td><p>Area of Study</p></td>
					<td><p>Teacher</p></td>
			  	</tr>

			  	<tr ng-repeat="experience in actor.trainingExperiences">
			  		<td><p><em>{{ experience.school }}</em></p></td>
			  		<td><p>{{ experience.degree }}</p></td>
			  		<td><p>{{ experience.area }}</p></td>
			  		<td><p>{{ experience.teacher }}</p></td>
			  	</tr>
			</table>
			<p>&nbsp;</p>
			<table border="0" cellspacing="0" cellpadding="0">
			  	<tr>
					<td colspan="4" valign="top"><h2>Special Skills</h2></td>
			  	</tr>
			  	<tr>
					<td><p><em>Accents &amp; Dialects:</em></p></td>
					<td colspan="4" valign="top"><p>{{ actor.specialSkills.accentsDialects }}</p></td>
			  	</tr>
			  	<tr>
				  	<td><p><em>Languages:</em></p></td>
					<td colspan="4" valign="top"><p>{{ actor.specialSkills.languages }}</p></td>
			  	</tr>
			  	<tr>
			  		<td><p><em>Sports:</em></p></td>
					<td colspan="4" valign="top"><p>{{ actor.specialSkills.sports }}</p></td>
			  	</tr>
			  	<tr>
			  		<td><p><em>Music &amp; Dance:</em></p></td>
					<td colspan="4" valign="top"><p>{{ actor.specialSkills.musicDance }}</p></td>
			  	</tr>
			  	<tr>
			  		<td><p><em>Other:</em></p></td>
					<td colspan="4" valign="top"><p>{{ actor.specialSkills.other }}</p></td>
			  	</tr>
			</table>
		</div>
	</div>
</div>