<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->

<img src="images/main.jpg" alt="Actors" width="880" height="567" usemap="#Map" border="0" align="right"/>
<div id="sidebar">
  <h4>You are cordially invited to attend...</h4>
  <h1>It Takes Life</h1>
  <h4>Featuring graduates of the</h4>
  <h1 style="background-color: #0066CC; color: white; border-top: none; border-bottom: none; text-align: center;">William Esper Studio</h1>
  <h2>
    <strong>WHEN</strong><br>
    Monday September 8, 2014 at 1:30PM<br/>
  </h2>
  <h2>
    <strong>WHERE</strong><br>
    The Romulus Linney<br>
      Courtyard Theatre<br>
    The Pershing Square <br>
    Signature Center<br>
    480 West 42nd Street<br>
    New York, NY 10036
  </h2>
  <h2>
    <strong>RSVP</strong>
    <a href="mailto:september8showcase@gmail.com?subject=RSVP">september8showcase@gmail.com</a><br>
    212-330-6533
  </h2>
</div>

<div id="content">
  <h3>&nbsp;</h3>
  <div id="actors">
    <p class="style2"><br>
        Front row, left to right: 
        <a href="index.html#/gloria-mann"><strong>Gloria Mann</strong></a>,
        <a href="index.html#/mikaal-bates"><strong>Mikaal Bates</strong></a>,
        <a href="index.html#/terrence-herring"><strong>Terrence Herring</strong></a>
        <a href="index.html#/steven-hultgren"><strong>Steven Hultgren</strong></a>,
        <a href="index.html#/kyle-kolich"><strong>Kyle Kolich</strong></a>, 
        <a href="index.html#/jonathan-mello"><strong>Jonathan Mello</strong></a>,
        <a href="index.html#/jack-noble"><strong>Jack Noble</strong></a>,<br>
        <a href="index.html#/ava-paloma"><strong>Ava Paloma</strong></a>,
        <a href="index.html#/stacey-roca"><strong>Stacey Roca</strong></a>
        <p class="style2">Second row, left to right: 
        <a href="index.html#/sarah-rosen"><strong>Sarah Rosen</strong></a>,
        <a href="index.html#/julia-rosa-stockl"><strong>Julia Rosa Stockl</strong></a>,
        <a href="index.html#/anthony-subietas"><strong>Anthony Subietas</strong></a>,
        <a href="index.html#/jenna-williams"><strong>Jenna Williams</strong></a>, 
        <a href="index.html#/chelsea-parrish"><strong>Chelsea Parrish</strong></a>,
        <br>
        <br>
    </p>
  </div>
  <h3>
    <br>
      Come discover the exceptional talents of this unique group of young artists!
  </h3>
</div>
